body {
    font-family: Arial;
    background: #fafafa;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.hidden {
    display: none;
}

input, button {
    padding: 8px;
    margin-top: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.btn {
    background: #ed2f8b;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
}
